<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>账单管理</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body style="padding-top: 50px;text-align: center">
   <div th:replace="admin/header::headerBody('commodity')"></div>

   <div class="container">
       <div class="row clearfix">
           <div class="col-md-12 column">
               <div class="page-header">
                   <h1>
                       <small>商品信息</small>
                   </h1>
               </div>
           </div>
           <form id="commodityForm" method="post">
               <div class="form-group hidden">
                   <input type="text" class="form-control" id="commodityId" name="commodityId" th:value="${commodity?.getId()}">
               </div>
               <div class="form-group">
                   <img th:src="@{${commodity?.getPicture()}}" style="width: 100px; height: 100px;"/>
                   <input type="file" class="form-control" id="picture" name="picture">
               </div>
               <div class="form-group">
                   <input type="text" class="form-control" id="commodityName" name="commodityName" placeholder="商品名" th:value="${commodity?.getCommodityName()}">
               </div>
               <div class="form-group">
                   <select class="form-control" name="categoryId" id="categoryId">
                        <option th:each="category : ${categories}"
                                th:value="${category.id}"
                                th:text="${category.getCategoryName()}"
                                th:selected="${category.id} == ${commodity?.getCategoryId()}"></option>
                   </select>
               </div>
               <div class="form-group">
                   <input type="text" class="form-control" id="price" name="price" placeholder="商品价格" th:value="${commodity?.getPrice()}">
               </div>

               <th:block th:if="${commodity?.getId()}==null">
                   <button type="button" class="btn btn-info" onclick="add()">新增</button>
               </th:block>
               <th:block th:if="${commodity?.getId()}!=null">
                   <button type="button" class="btn btn-danger" onclick="update()">修改</button>
               </th:block>
           </form>
       </div>
   </div>
</body>
<script>
    function add(){
        var fromData = new FormData();

        fromData.append("commodityName",$('#commodityName').val());
        fromData.append("categoryId",$('#categoryId option:selected').val());
        fromData.append("price",$('#price').val());
        fromData.append("picture",$('#picture')[0].files[0]);

        $.ajax({
            url:"/admin/commodity/addComm",
            type:"POST",
            async: false,
            data: fromData,
            processData : false, // 使数据不做处理
            contentType : false, // 不要设置Content-Type请求头
            success:function(data){
                alert(data);
                window.location.href="/admin/commodity";
            },
            error:function(){
                alert('添加失败')
            }
        });
    }

    function update(){
        var fromData = new FormData();

        fromData.append("commodityId",$('#commodityId').val());
        fromData.append("commodityName",$('#commodityName').val());
        fromData.append("categoryId",$('#categoryId option:selected').val());
        fromData.append("price",$('#price').val());
        fromData.append("picture",$('#picture')[0].files[0]);

        $.ajax({
            "url":"/admin/commodity/updateComm",
            type:"POST",
            async: false,
            data: fromData,
            processData : false, // 使数据不做处理
            contentType : false, // 不要设置Content-Type请求头
            success:function(data){
                alert(data);
                window.location.href="/admin/commodity";
            },
            "error":function(){
                alert('修改失败')
            }
        });
    }
</script>
</html>