<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:fragment="headerBody(active)">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">后台首页</a>
        </div>
        <div class="collapse navbar-collapse col-lg-4 col-lg-offset-4">
            <ul class="nav navbar-nav " role="tablist">
                <li role="presentation" th:class="${active}=='index'?'active':''"><a th:href="@{/admin/index}">首页</a></li>
                <li role="presentation" th:class="${active}=='machine'?'active':''"><a th:href="@{/admin/machine}">机器管理</a></li>
                <li role="presentation" th:class="${active}=='order'?'active':''"><a th:href="@{/admin/order}">账单</a></li>
                <li role="presentation" th:class="${active}=='commodity'?'active':''"><a th:href="@{/admin/commodity}">商品管理</a></li>
            </ul>
        </div>
    </nav>
</div>

</body>
</html>